/* Set the chat widget to RTL */
.vfrc-chat--dialog {
    direction: rtl !important;
    text-align: right !important;
}
.vfrc-message {
    direction: rtl !important;
    text-align: right !important;
}
.vfrc-user-response .vfrc-message {
    direction: rtl !important;
    text-align: right !important;
}
.vfrc-input input[type="text"],
.vfrc-input textarea {
    direction: rtl !important;
    text-align: right !important;
}

/* Ensure text box is RTL */
.vfrc-chat-input textarea {
    direction: rtl !important;
    text-align: right !important;
}

/* Placeholder in Hebrew */
.vfrc-chat-input textarea::placeholder {
    text-align: right !important;
}

/* Add watermark in the footer */
.vfrc-footer--watermark {
    text-align: center !important;
    font-size: 12px;
    color: #999; /* Adjust color as needed */
    direction: rtl !important;
    text-align: right !important;
}
.vfrc-footer--watermark::before {
    content: "Assistant ⚡️ by Talomri AI";
    display: block;
    color: inherit;
}
.vfrc-footer--watermark a {
    display: none !important; /* Hide the Voiceflow link */
}

/* Hide session time */
.vfrc-chat--session-time {
    display: none !important;
}
