.vfrc-widget--launcher:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: green;
}
